.checkout-form .form-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(241, 238, 238);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-form .form-heading {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 5px;
}

.checkout-form .form-input {
  width: calc(100% - 20px);
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

.checkout-form .form-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.checkout-form .form-button:hover {
  background-color: #2f7533;
}


.checkout-form .title {
  text-align: center;

}