:root {
  --green:#0DA487 ;
  --pink :#FF4F4F ;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: calc(100vh - 73px);
  background-color: #F8F9FA;
}
.sidebar li {
  padding: 10px 5px;
  text-align: center;
}
.sidebar li a{
  text-decoration: none;
  color: rgb(146, 23, 23);
}
a ,button {
  cursor: pointer;
  text-decoration: none;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
